:root {
  --primary-color: #000000;
  --secondary-color: rgb(124, 84, 128);
}

.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 20px;
}

.Weather form {
  margin: 0 auto;
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 65px;
  text-align: center;
}

.Weather .temperature {
  font-size: 55px;
}

.Weather .unit {
  font-size: 20px;
}

.Weather ul {
  list-style: none;
  font-size: 14px;
}
